# yaml-language-server: $schema=https://aka.ms/winget-manifest.version.1.12.0.schema.json
PackageIdentifier: FrankZhu.ZManagerCLI
PackageVersion: __PACKAGE_VERSION__
DefaultLocale: en-US
ManifestType: version
ManifestVersion: 1.12.0
